<table style="width: 100%">
    <tr>
        <td style="background-color: #e0e0e0; padding:15px 5px; text-align: center">Reçu de paiement N° {{ data.reference}}</td>
    </tr>
</table>
<table style="width: 100%">
    <tr>
        <td style="width: 20%">
            <img src="{{ qr_code_data_uri(data, { writer: 'svg', size: 150 }) }}" />
        </td>
        <td style="width: 80%">
            <table style="width: 100%">
                <tr>
                    <td style="width: 45%">
                        Date
                    </td>
                    <td style="width: 55%">
                        {{ "now"|date("d/m/Y") }}
                    </td>
                </tr>
                <tr>
                    <td style="width: 45%">
                        Référence
                    </td>
                    <td style="width: 55%">
                        {{ data.reference}}
                    </td>
                </tr>
                <tr>
                    <td style="width: 45%">
                        Année universitaire
                    </td>
                    <td style="width: 55%">
                        {{ data.scholarshipPayment.registration.schoolYear}}
                    </td>
                </tr>
                <tr>
                    <td style="width: 45%">
                        Etudiant
                    </td>
                    <td style="width: 55%">
                        {{ data.scholarshipPayment.registration.student}}
                    </td>
                </tr>
                <tr>
                    <td style="width: 45%">
                        Montant réglé
                    </td>
                    <td style="width: 55%">
                        {{ currencyFormat(data.amount) }}
                    </td>
                </tr>
                <tr>
                    <td style="width: 45%">
                        Filière
                    </td>
                    <td style="width: 55%">
                        {{ data.scholarshipPayment.registration.grade.study}}
                    </td>
                </tr>
                <tr>
                    <td style="width: 45%">
                        Classe
                    </td>
                    <td style="width: 55%">
                        {{ data.scholarshipPayment.registration.grade}}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table style="width: 100%; margin-top:15px;">
    <tr>
        <td style="width: 70%">
            <span style="font-size:11px;">Signature de l'étudiant(e): {{ data.scholarshipPayment.registration.student}}</span>
        </td>
        <td style="width: 30%; text-align: right">
            <span style="font-size:11px;">Signature du comptable</span>
        </td>
    </tr>
</table>