{% trans_default_domain "pager" %}
{% set pager = pagination %}

<ul class="pagination">
    {% if pager.pagination.previous is defined %}
        <li class="page-item">
            <a class="page-link" href="{{ path(pager.route, pager.query|merge({"page": pager.pagination.previous})) }}">&laquo;</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <span class="page-link">&laquo;</span>
        </li>
    {% endif %}

    {% if pager.pagination.startPage > 1 %}
        <li class="page-item">
            <a class="page-link" href="{{ path(pager.route, pager.query|merge({"page": 1})) }}">1</a>
        </li>
        {% if pager.pagination.startPage == 3 %}
            <li class="page-item">
                <a class="page-link" href="{{ path(pager.route, pager.query|merge({"page": 2})) }}">2</a>
            </li>
        {% elseif pager.pagination.startPage != 2 %}
            <li class="page-item disabled">
                <span>&hellip;</span>
            </li>
        {% endif %}
    {% endif %}

    {% for page in pager.pagination.pagesInRange %}
        {% if page != pager.pagination.current %}
            <li class="page-item">
                <a class="page-link" href="{{ path(pager.route, pager.query|merge({"page": page})) }}">{{ page }}</a>
            </li>
        {% else %}
            <li class="page-item active">
                <span class="page-link">{{ page }}</span>
            </li>
        {% endif %}
    {% endfor %}

    {% if pager.pagination.pageCount > pager.pagination.endPage %}
        {% if pager.pagination.pageCount > (pager.pagination.endPage + 1) %}
            {% if pager.pagination.pageCount > (pager.pagination.endPage + 2) %}
                <li class="disabled">
                    <span>&hellip;</span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link"  href="{{ path(pager.route, pager.query|merge({"page": (pager.pagination.pageCount - 1)})) }}">{{ pager.pagination.pageCount -1 }}</a>
                </li>
            {% endif %}
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="{{ path(pager.route, pager.query|merge({"page": pager.pagination.pageCount})) }}">{{ pager.pagination.pageCount }}</a>
        </li>
    {% endif %}

    {% if pager.pagination.next is defined %}
        <li class="page-item">
            <a class="page-link" href="{{ path(pager.route, pager.query|merge({"page": pager.pagination.next})) }}">&raquo;</a>
        </li>
    {% else %}
        <li class="disabled">
            <span class="page-link">&raquo;</span>
        </li>
    {% endif %}
</ul>

<p class="pagination-summary">
    {% if pager.total == 0 %}
        {% trans %}Aucun enregistrement trouvé{% endtrans %}
    {% else %}
        {% set record_from = pager.itemsPerPage*(pager.currentPage-1) + 1 %}
        {% set record_to = min(pager.itemsPerPage + pager.itemsPerPage*(pager.currentPage-1), pager.total) %}
        {% set total_pages = pager.total %}
 {% endif %}
</p>
<div class="clearfix"></div>