{% extends '@manager/fiche.html.twig' %}
{% block cardheader %}
    Fiche de <b>{{ data }}</b>
{% endblock %}
{% block cardbody %}
    <!-- infos -->
    <div class="row">
        <div class="col col-sm-12 mt-2">
            <div id="accordioninfo" role="tablist" aria-multiselectable="true">
                <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                        <h5><a class="header-accordion blue-grey-text" data-toggle="collapse"
                               data-parent="#accordioninfo" href="#infoGen"
                               aria-expanded="true" aria-controls="collapseOne">
                                Informations générales
                            </a></h5>
                    </div>
                    <div id="infoGen" class="collapseblock show" role="tabpanel" aria-labelledby="headingOne">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">
                                            <label class="col-sm-6">Type de dépense</label>
                                            <span class="blue-text text-accent-1">{{ data.expenseType }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="col-sm-6">Année scolaire</label>
                                            <span class="blue-text text-accent-1">{{ data.schoolYear }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="col-sm-6">Montant</label>
                                            <span class="blue-text text-accent-1">{{ data.amount |number_format(2, ',', ' ') }} F CFA</span>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="col-sm-6">Commentaire</label>
                                            <span class="blue-text text-accent-1">{{ data.comment }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <label class="col-sm-6">Date de la dépense</label>
                                            <span class="blue-text text-accent-1">{{ data.expenseDate | date("d/m/Y") }}</span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-sm-12">
            <div id="accordion" role="tablist" aria-multiselectable="true">
                <div class="card mt-2">
                    <div class="card-header" role="tab" id="headingJustificatif">
                        <h5><a class="header-accordion blue-grey-text" data-toggle="collapse" data-parent="#accordion"
                               href="#justificatif"
                               aria-expanded="false" aria-controls="collapseJustificatif">
                                {% trans %}Justificatifs{% endtrans %}
                            </a>
                        </h5>
                    </div>
                    <div id="justificatif" class="collapse" role="tabpanel" aria-labelledby="headingJustificatif">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-12 mui--text-right">
                                    <div class="mui-dropdown">
                                        <button class="mui-btn blue-grey white-text" data-mui-toggle="dropdown">
                                            <i class="fas fa-ellipsis-v"></i>
                                        </button>
                                        <ul class="mui-dropdown__menu mui-dropdown__menu--right">
                                            <li><a href="{{ path('expense_line_document_add', {'expense_line_id':data.id}) }}"><i class="fa fa-plus"></i> {% trans %} Ajouter un document{% endtrans %}</a></li>

                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    {% set params = {'expense_line_id': data.id} %}
                                    {{ render(controller('App\\Accounting\\Controller\\ExpenseLineDocument:findDocumentsByExpense', { 'params': params })) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}